@font-face {
    font-family: 'Nixie One';
    src: url('../fonts/NixieOne-Regular.otf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    color: #7D7A92;
    list-style: none;
}

body {
    background-color: #434059;
    overflow-x: hidden;
}

body.english {
    font-family: 'Nixie One';
    font-weight: 400;
}

body.russian h2,
body.russian h3,
body.russian a,
body.russian p {
    font-family: 'Open Sans';
    font-weight: 200;
}

h3 {
    padding: 0 10px;
    font-size: 13vw;
    border: 8px solid #7D7A92;
    text-transform: uppercase;
}

p {
    font-size: 5vw;
}

.header_top {
    padding: 10px;
    background-color: #1C1936;
}

.header_top a {
    font-size: 5vh;
}

.header_wrapper h2 {
    text-transform: uppercase;
    font-size: 13vw;
}

.header_wrapper h2:nth-child(3) {
    text-align: right;
}

.header_wrapper span {
    padding: 0 10px;
    border: 8px solid #7D7A92;
}

.header_wrapper p {
    padding-top: 100px;
    max-width: 50%;
}

.sum_wrapper {
    padding: 100px 0;
}

.sum_wrapper_top {
    display: flex;
    justify-content: space-around;
}

.sum_wrapper img {
    max-width: 30%;
    margin: auto;
}

.sum_wrapper h3 {
    margin: auto 0 auto auto;
}

.sum_wrapper p {
    margin-left: auto;
    max-width: 50%;
}

.getInTouch_wrapper > * {
    margin-bottom: 10px;
}

.getInTouch_wrapper h3 {
    width: max-content;
    margin-left: auto;
}

.getInTouch_wrapper a {
    text-decoration: underline;
}